<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/GearAppTest" version="1.0.0" viewmodes="maximized">
    <access origin="http://jaffatron.com" subdomains="true"></access>
    <tizen:allow-navigation>
		*
	</tizen:allow-navigation>
    <tizen:app-control>
        <tizen:src name="index.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/alarm"/>
    </tizen:app-control>
    <tizen:application id="XJpGVuB2xv.GearAppTest" package="XJpGVuB2xv" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <icon src="icon.png"/>
    <icon src="icon.png"/>
    <name>GearApp</name>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:setting background-support="enable"/>
	 
	 
	 
	 
</widget>
